{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="title">Shipment Tracking System</h1>

<div class="container-fluid container-small pt-5 ">

<div class="row">
  <div class="col-sm "><img src="{% static 'images/shipment.png' %}" class="img-fluid rounded"></div>
  <div class="col-sm "><img src="{% static 'images/consignment_image1.png' %}" class="img-fluid rounded"></div>
  <div class="col-sm "><img src="{% static 'images/shipment1.png' %}" class="img-fluid rounded"></div>
</div>

</div>
{% endblock %}